body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/*付羽-笔试题库管理*/
.fy-banner{
  width: 100%;height: 646px;background-image: url(../images/fy-bannerbg.png);background-size:cover;position: relative;
}
.fy-banner .fy-banner-mask{
  width: 100%;height: 501px;position: absolute;bottom: 0;background-image: url(../images/fy-banner-mask.png);
}
 .fy-banner .fy-banner-mask .fy-banner-logo{
   width: 876px;height: 187px;background-image: url(../images/fy-logo.png);position: absolute;top:72px;left: 261px;
 }
 .fy-main{
   width: 100%;height:auto;
 }
 .fy-main .fy-body{
   width: 1200px;height: 100%;margin: 0 auto;position: relative;
 }
 .fy-main .fy-body .fy-left{
    width: 360px;height: 627px;position: absolute;top: -177px;left: 0;
 }
.fy-main .fy-body .fy-right{
  width:840px;height: 865px;background-color:#fff;position: absolute;top: -177px;right: 0;
}
.fy-main .fy-body .fy-left .fy-left-first{
  width: 359px;height: 452px;position: relative;background-image: url(../images/fy-demobg.png);background-size: 100% 100%;
}
.fy-main .fy-body .fy-left .fy-left-first .fy-bian{
  width: 333px;height: 13px;background-color: #E8BC0F;margin: 0 auto;position: relative;
}
.fy-main .fy-body .fy-left .fy-left-first .fy-moban{
  width: 360px;height: 101px;background-image: url(../images/fy-demo.png);position: absolute;top: 40px;left:-1px;
}
.fy-main .fy-body .fy-left .fy-left-first .fy-moban .fy-new{
  width: 160px;height: 45px;background-image: url(../images/fy-new.png);position: absolute;top: 50%;margin-top: -30px;right: 19px;
}
.fy-main .fy-body .fy-left .fy-left-first ul{
  width: 333px;height: 323px;margin: 0 auto;position: absolute;bottom: 0;left: 50%;margin-left: -166px;padding: 20px 42px 53px 26px;
}
.fy-main .fy-body .fy-left .fy-left-first ul li{
  width: 100%;height: 25%;
}
.fy-main .fy-body .fy-left .fy-left-first ul li .fy-itemleft{
  width: 50%;height: 100%;font-size: 27px;text-align: left;line-height: 59px;font-family: "苹方 常规";color: #4D4D4D;float: left;
}
.fy-main .fy-body .fy-left .fy-left-first ul li .fy-itemright{
  width: 50%;height: 100%;font-size: 27px;text-align: right;line-height: 59px;font-family: "苹方 常规";color: #4D4D4D;
  float: right;
}
.fy-main .fy-body .fy-left .fy-left-second{
  width: 359px;height: 452px;position: relative;background-image: url(../images/fy-demobg.png);background-size: 100% 100%;
}
.fy-main .fy-body .fy-left .fy-left-second .fy-bian{
  width: 333px;height: 13px;background-color: #E8BC0F;margin: 0 auto;position: relative;
}
.fy-main .fy-body .fy-left .fy-left-second .fy-moban{
  width: 360px;height: 100px;background-image: url(../images/fy-rec.png);position: absolute;top: 40px;left:0;
}
.fy-main .fy-body .fy-left .fy-left-second ul{
  width: 333px;height: 323px;margin: 0 auto;position: absolute;bottom: 0;left: 50%;margin-left: -166px;padding: 20px 42px 53px 26px;
}
.fy-main .fy-body .fy-left .fy-left-second ul li{
  width: 100%;height: 25%;
}
.fy-main .fy-body .fy-left .fy-left-second ul li .fy-itemleft{
  width: 50%;height: 100%;font-size: 27px;text-align: left;line-height: 59px;font-family: "苹方 常规";color: #4D4D4D;float: left;
}
.fy-main .fy-body .fy-left .fy-left-second ul li .fy-itemright{
  width: 50%;height: 100%;font-size: 27px;text-align: right;line-height: 59px;font-family: "苹方 常规";color: #4D4D4D;
  float: right;
}